.badge {
    display: flex;
    padding: 25px;
    max-width: 400px;

    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;

    border: 1.5px solid #123FD2;
    border-radius: 8px;
    
}

.badgeText {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #151F4E;
}
.descr {
    margin-top: 10px;
    font-size: 14px;

    color: #838AA9;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.badge:hover {
    background: #F3F4F9;
    cursor: pointer;
}