.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 17px 0;

  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  cursor: pointer;
  background: var(--primary-light);
  border-radius: 8px;
  outline: none;
  border: none;
}

.disabled {
  background: var(--purple-light);
  cursor: initial;
}