.discoverPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color:  var(--white-sec);
}
.firstBlock {
  display: flex;
}
.circle {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-right: 20px;
  background-color: var(--white);
}

.name h3 {
  margin-top: 4px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color:  var(--primary)
}

.name p {
  margin-top: 7px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color:  var(--primary);
  opacity: 0.7;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input {
  position: relative;
}
.input input{
  padding: 17px 16px 17px 45px;
  border-radius: 8px;
}
.search {
  position: absolute;
  left: 18px;
  top: 15px
}

.nav {
  display: flex;
  width: 100%;

  margin-top: 30px;
  padding: 25px 20px;

  background-color: var(--white);
  box-shadow: 0px 6px 20px rgba(21, 31, 78, 0.06);
  border-radius: 8px;
}
.nav a:hover {
  color: var(--primary-light) 
}
.nav a:nth-child(1) {
  margin: 0;
}
.nav a {
  margin-left: 40px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--secondary)
}
.activeLink {
  color: var(--primary-light) !important;
}
.setupBlock {
  margin-top: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuMobile {
  display: none;
}
.menuMobile button{
  padding: 20px;
}

@media(max-width: 1100px){
  .menuMobile {
      display: block;
  }
  .input input {
      display: none;
  }
}

@media(max-width: 730px){
  .nav {
      display: none;
  }

  .setupBlock {
    margin-top: 10px;
  }
  .discoverPage {
    height: 100vh;
  }
}
@media(max-width: 500px){
  .circle {
      display: none;
  }
}