.main {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}
.mainLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoBlock {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.logo {
  margin: 24px;
  height: 38px;
  width: 171px;
}

.footer {
  padding-bottom: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: var(--secondary);
}


@media(max-width: 1100px){
  .mainLeft {
    width: 100%;
  }
}

@media(max-width: 470px){
  .mainLeft {
    padding: 20px;
  }

  .footer {
    margin-top: 20px;
  }
}