.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.mainLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainRight {
  width: 50%;
  position: relative;

  display: flex;
}

.mainRight__img1 {
  width: 730px;
  height: 568px;
  position: absolute;
  z-index: 1;
  left: 70px

}
.mainRight__img2 {
  width: 225px;
  height: 406px;
  position: absolute;
  top: 200px;
  z-index: 2;
}
.imagesBlock {
  margin-top: 50px;
  position: relative;
}
.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #151F4E;
}

.subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #838AA9;
  margin: 5px 0 40px 0;
}

.signupMain {
  display: flex;
  flex-direction: column;
  max-width: 400px;

}

.logoBlock {
  display: flex;
  width: 100%;
  align-items: start;
}
.logo {
  margin: 24px;
  height: 38px;
  width: 171px;
}

.secondBadge {
  margin: 20px 0 40px 0;
}

.link {
  text-decoration: none;
  color: #2B3E9B;
}

.linkText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #838AA9;
  margin-top: 30px;
}

.footer {
  padding-bottom: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #838AA9;
}

.acceleratingText {
  display: flex;
  align-items: end;
  padding: 50px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #151F4E;
}

.acceleratingText > div:nth-child(1) {
  display: flex;
}
.acceleratingText__text {
  display: flex;
  flex-direction: column;
}

.acceleratingText__text > div:nth-child(2) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  margin-top: 12px;
}

.acceleratingText__arrows {
  display: flex;
}

.acceleratingText__arrows div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #2B3E9B;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.acceleratingText__arrows div:nth-child(1) {
  border: 1px solid #4B516A;
  margin-right: 10px;
}

.firstArrow {
  transform: rotate(180deg);
  margin-right: 3px;
  color: #4B516A;
}