.nav {
  width: 100%;
  padding: 21px 16px 36px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ul {
  margin-top: 80px;
  padding: 0;
}
.li {
  display: flex;
  margin-top: 5px;
  padding: 17px; 
  border-radius: 6px;
}

.li:hover {
  background: linear-gradient(267.08deg, #2B3E9B -4.96%, #1E328E 100%);
  box-shadow: 0px 0px 16px rgba(17, 30, 70, 0.12);
  cursor: pointer;
}
.li:hover > a {
  color: var(--white) !important
}

.title {
  margin-left: 30px;
  text-decoration: none;
}

.active {
  background: linear-gradient(267.08deg, #2B3E9B -4.96%, #1E328E 100%);
  box-shadow: 0px 0px 16px rgba(17, 30, 70, 0.12);
}
.activeLink {
  color: var(--white)
}

.user {
  margin-top: 285px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userBlock {
  display: flex;
  align-items: center;
}
.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.userName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7px;
}
.userName > p:nth-child(1) {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.userName > p:nth-child(2) {
  color: var(--secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.logOut {
  margin-left: 28px;
}
.logOut:hover {
    cursor: pointer;
    transform: scale(1.12);
}
.switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 4px;
  
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;

  border: 1px solid var(--grey);
  border-radius: 32px;
}
.switcherLight,
.switcherDark {
  display: flex;
  align-items: center;
  padding: 8px 36px;
  background: var(--white);
  border-radius: 32px;
}

.switcherLight:hover,
.switcherDark:hover {
  cursor: pointer;
  background: var(--grey);
}
.switcherLight span,
.switcherDark span {
  margin-left: 8px;
}
.switcherActive {
  background: var(--grey);
}