.main {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}
.mainLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainRight {
  width: 50%;
  position: relative;
  display: flex;
}

.mainRight__img1 {
  width: 730px;
  height: 568px;
  position: absolute;
  z-index: 1;
  left: 70px

}
.mainRight__img2 {
  width: 225px;
  height: 406px;
  position: absolute;
  top: 200px;
  z-index: 2;
}
.imagesBlock {
  margin-top: 50px;
  position: relative;
}
.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary);
}

.subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--secondary);
  margin: 5px 0 40px 0;
}

.signupMain {
  display: flex;
  flex-direction: column;
  max-width: 400px;

}

.logoBlock {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.logo {
  margin: 24px;
  height: 38px;
  width: 171px;
}

.secondBadge {
  margin: 20px 0 40px 0;
}

.link {
  text-decoration: none;
  color: var(--primary-light);
}

.link:hover {
  color: var(--primary);
}

.linkText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--secondary);
  margin-top: 30px;
}

.footer {
  padding-bottom: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: var(--secondary);
}

@media(max-width: 1100px){
  .mainLeft {
    width: 100%;
  }
}

@media(max-width: 470px){
  .linkText, .title, .subtitle {
    text-align: center;
  }
}