.mainRight {
  width: 50%;
  height: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg, #F2F4FC 0%, #FFFFFF 100%)
}
.header {
  max-width: 566px;
  margin-top: 158px;
  color: var(--primary);
  font-weight: 700;
  font-size: 42px;
  text-align: center;
}

.header__link {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary);
  text-align: center;
}
.mainRight__img1 {
  width: 625px;
  height: 411px;
}
.mainRight__img2 {
  width: 158px;
  height: 314px;
  position: absolute;
  left: -25px;
  top: 100px;
  z-index: 2;
}
.imagesBlock {
  margin-top: 80px;
  padding-bottom: 190px;
  position: relative;
}

.linkRules {
  text-decoration: none;
  color: var(--primary-light);
}
.linkRules:hover {
  color: var(--primary);
}
@media(max-width: 1100px){
  .mainRight {
    display: none;
  }
}
