.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary);
  margin-top: 70px;
}

.subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--secondary);
  margin: 5px 0 40px 0;
}

.signupMain {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 1040px;
}

.blockInputs {
  display: flex;
}

.lastName {
  margin-left: 16px;
}

.userName, .email, .password {
  margin-top: 20px;
}

.occupancyBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.occupancyBlock > div {
  width: 122px;
  height: 6px;
  background: var(--occupancy-color);
  border-radius: 35px;
}

.filled {
  background: linear-gradient(90deg, #5268D3 0%, #435ACB 100%) !important;
}

.btnSign {
  margin-top: 47px
}

.link {
  margin: 30px 0 115px 0;
  text-align: center;
}

.linkRules {
  text-decoration: none;
  color: var(--primary-light);
}

.linkRules:hover {
  color: var(--primary);
}

@media(max-width: 1100px){
  .mainLeft {
    width: 100%;
  }
}

@media(max-width: 470px){
  .mainLeft {
    padding: 20px;
  }
  .title {
    margin-top: 30px;
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .link {
    margin: 30px 0 30px 0;
  }
  .btnSign {
    margin-top: 20px;
  }

  .occupancyBlock > div {
    width: 100px;
  }
}